In [1]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import random

In [2]:
icici = pd.read_csv("icici.csv")["Close Price"].reset_index()

In [3]:
icici.head(10)

   index  Close Price
0      0       546.70
1      1       537.05
2      2       531.65
3      3       527.55
4      4       534.80
5      5       528.45
6      6       528.95
7      7       520.20
8      8       513.65
9      9       503.60

In [4]:
equity = pd.read_csv("Equity.csv")
equity.head(10)

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
0,500002,NaN,ABB,ABB India Limited,Active,A,2.0,INE117A01022,Heavy Electrical Equipment,Equity
1,500003,NaN,AEGISLOG,AEGIS LOGISTICS LTD.,Active,A,1.0,INE208C01025,Oil Marketing & Distribution,Equity
2,500008,NaN,AMARAJABAT,AMARA RAJA BATTERIES LTD.,Active,A,1.0,INE885A01032,Auto Parts & Equipment,Equity
3,500009,NaN,AMBALALSA,AMBALAL SARABHAI ENTERPRISES LTD.,Active,X,10.0,INE432A01017,Pharmaceuticals,Equity
4,500010,NaN,HDFC,HOUSING DEVELOPMENT FINANCE CORP.LTD.,Active,A,2.0,INE001A01036,Housing Finance,Equity
5,500012,NaN,ANDHRAPET,ANDHRA PETROCHEMICALS LTD.,Active,X,10.0,INE714B01016,Commodity Chemicals,Equity
6,500013,NaN,ANSALAPI,ANSAL PROPERTIES & INFRASTRUCTURE LTD.,Active,T,5.0,INE436A01026,Realty,Equity
7,500014,NaN,UTIQUE,Utique Enterprises Ltd,Active,X,10.0,INE096A01010,Finance (including NBFCs),Equity
8,500016,NaN,ARUNAHTEL,ARUNA HOTELS LTD.,Active,XT,10.0,INE957C01019,Hotels,Equity
9,500020,NaN,BOMDYEING,BOMBAY DYEING & MFG.CO.LTD.,Active,A,2.0,INE032A01023,Textiles,Equity

In [5]:
sample_data  = equity.sample(10)
sample_data

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
1336,522014,NaN,UNIDT,UNITED DRILLING TOOLS LTD.,Active,B,10.0,INE961D01019,Other Industrial Goods,Equity
2611,532751,NaN,EASUNREYRL,EASUN REYROLLE LTD.,Active,Z,2.0,INE268C01029,Other Elect.Equip./ Prod.,Equity
252,500672,NaN,NOVARTIND,NOVARTIS INDIA LTD.,Active,A,5.0,INE234A01025,Pharmaceuticals,Equity
3173,538942,NaN,MERCANTILE,Mercantile Ventures Ltd,Active,X,10.0,INE689O01013,Misc.Commercial Services,Equity
3341,539494,NaN,SMARTFIN,Smart Finsec Ltd,Active,XT,10.0,INE766D01012,Finance (including NBFCs),Equity
2979,535204,NaN,MUKTA,Mukta Agriculture Ltd,Active,X,10.0,INE160O01031,Comm.Trading & Distribution,Equity
2262,531879,NaN,PIONDIST,PIONEER DISTILLERIES LTD.,Active,B,10.0,INE889E01010,Breweries & Distilleries,Equity
4104,543244,NaN,SHINEFASH,Shine Fashions (India) Ltd,Active,M,10.0,INE0BLY01015,Textiles,Equity
1194,517522,NaN,RAJGLOWIR,RAJRATAN GLOBAL WIRE LTD.,Active,B,10.0,INE451D01011,Auto Parts & Equipment,Equity
4054,543171,NaN,ROJL,RO Jewels Ltd,Active,M,10.0,INE0BDU01010,Other Apparels & Accessories,Equity

In [6]:
Security_code = list(sample_data["Security Code"])
Security_Id = list(sample_data["Security Id"])
Security_Name = list(sample_data["Security Name"])
print(Security_code)

[522014, 532751, 500672, 538942, 539494, 535204, 531879, 543244, 517522, 543171]

In [7]:
import time, csv
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import datetime
import random
from selenium.webdriver.common.keys import Keys

chromeOptions = webdriver.ChromeOptions()
preferences = {"download.default_directory" : "C:\\Users\\HARIKA\\Desktop\\DataScience_2019501065\\DADV_FinalExam\\Assignments\\Assignment3"}
chromeOptions.add_experimental_option("prefs", preferences)
chromedriver = "C:\\Users\\HARIKA\\Desktop\\DataScience_2019501065\\DADV_FinalExam\\chromedriver.exe"
driver = webdriver.Chrome(executable_path=chromedriver, options=chromeOptions)
driver.maximize_window()

driver.get("https://www.bseindia.com/markets/equity/EQReports/StockPrcHistori.aspx?flag=0")

#date
driver.find_element_by_id("ContentPlaceHolder1_txtToDate").click()
time.sleep(3)
x = datetime.datetime.now()
date = str(int(x.strftime("%d")))
year = x.strftime("%Y")
driver.find_element_by_link_text(date).click()
time.sleep(2)
driver.find_element_by_id("ContentPlaceHolder1_txtFromDate").click()
select = Select(driver.find_element_by_class_name("ui-datepicker-year"))
pyear = str(int(year)-5)
select.select_by_visible_text(pyear)
driver.find_element_by_link_text(date).click()
time.sleep(2)

for i in Security_code:
    random_code = i
    print(random_code)
    #company id
    search = driver.find_element_by_id('ContentPlaceHolder1_smartSearch')
    search.clear()
    search.send_keys(random_code)
    driver.find_element_by_class_name("quotemenu").click()
    #download
    driver.find_element_by_id("ContentPlaceHolder1_btnSubmit").click()
    time.sleep(3)
    driver.find_element_by_id("ContentPlaceHolder1_btnDownload").click()
    time.sleep(10)

driver.close()

522014
532751
500672
538942
539494
535204
531879
543244
517522
543171

In [8]:
data = pd.DataFrame()
new_data = pd.DataFrame()
for i in range(9):
    link = "C:\\Users\\HARIKA\\Desktop\\DataScience_2019501065\\DADV_FinalExam\\Assignments\\Assignment3\\"+str(Security_code[i])+".csv"
    x = pd.read_csv(link)["Close Price"].reset_index()
    data = pd.merge(x, icici, on='index').iloc[:,[1,2]]
    row = {'Name': Security_Name[i], 'Corr':data.corr()['Close Price_x'][1]}
    new_data = new_data.append(row, ignore_index=True)

In [9]:
new_data

       Corr                        Name
0 -0.012327  UNITED DRILLING TOOLS LTD.
1 -0.780482         EASUN REYROLLE LTD.
2 -0.156671         NOVARTIS INDIA LTD.
3 -0.492100     Mercantile Ventures Ltd
4  0.403064            Smart Finsec Ltd
5 -0.300510       Mukta Agriculture Ltd
6 -0.474696   PIONEER DISTILLERIES LTD.
7  0.514844  Shine Fashions (India) Ltd
8 -0.057308   RAJRATAN GLOBAL WIRE LTD.

In [10]:
new_data.sort_values("Corr", axis = 0, ascending = False, inplace = True, na_position ='last')
str(new_data['Name'][0])+ "has the highest correlation with ICIC Bank with a correlation of --->  " +str(new_data['Corr'][0])

'UNITED DRILLING TOOLS LTD.---> highest correlation with ICIC Bank with a correlation of  -0.012326533641222307'